[init]
defaultBranch = main

[include]
; path = ~/projects/tokyonight.nvim/extras/delta/tokyonight_moon.gitconfig

[core]
editor = nvim
pager = delta

[interactive]
diffFilter = delta

[delta]
navigate = true    # use n and N to move between diff sections
light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
side-by-side = false
line-numbers = true
; syntax-theme = tokyonight_moon
[user]
	email = alexei.quick@gmail.com
